.add-btn {
  background: #ffae00;
  color: #000;
  font-weight: bold;
  border: none;
  padding: 8px 12px;
  margin-top: 8px;
  border-radius: 12px;
  cursor: pointer;
}

.add-btn:hover {
  background: #ffd233;
}
